<div class="container-fluid position-relative p-3 p-md-5 text-center"
  style="background-image: url('https://i.hizliresim.com/pq36358.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <div class="container mt-5">
    <h1 class="display-1" id="baslik">Fiyatlandırma Politikamız</h1>
    <p class="my-4">Üyelik sistemimiz üç kategoriden ve üçer seviyeden oluşmaktadır.
      <br>
      Öğrenci indiriminden yararlanmak isteyen kişiler almak istediği paketin süresi boyunca öğrenci olarak kalacağını kanıtlamak zorundadır.
      <br>
      Seviye değiştirmek isteyen üyelerin mevcut seviyesinde ki kalan gün ücreti hesaplanıp, yeni seviye ücretinden düşülür.
      <br>
      Spor salonundan ayrılan üyelere istisnalar dışında para iadesi yapılmaz.
      <br>
      Üyeler istedikleri takdirde üç aya kadar üyeliklerini dondurabilirler.
    </p>
</div>
<div class="col-md-8 mx-auto">
<div class="row mx-auto my-5 gumus">
  <div class="kart mx-5 my-5 col">
    <h3 class="my-5">Gümüş 1</h3>
    <ul class="mb-5">
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> 1 Aylık Üyelik</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-xmark x"></i> Günlük su</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-xmark x"></i> Günlük protein</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Öğrenci indirimi</p>
      </li>
    </ul>
    <hr class="tl">
    <h2 class="mb-3">-₺</h2>
  </div>
  <div class="kart mx-5 my-5 col">
    <h3 class="my-5">Gümüş 2</h3>
    <ul class="mb-5">
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> 3 Aylık Üyelik</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-xmark x"></i> Günlük su</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-xmark x"></i> Günlük protein</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Öğrenci indirimi</p>
      </li>
    </ul>
    <hr class="tl">
    <h2 class="mb-3">-₺</h2>
  </div>
  <div class="kart mx-5 my-5 col">
    <h3 class="my-5">Gümüş 3</h3>
    <ul class="mb-5">
      <li>
        <p> <i class="fa-regular fa-circle-check ok"></i> 6 Aylık Üyelik</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-xmark x"></i> Günlük su</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-xmark x"></i> Günlük protein</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Öğrenci indirimi</p>
      </li>
    </ul>
    <hr class="tl">
    <h2 class="mb-3">-₺</h2>
  </div>
</div>
<hr>
<div class="row mx-auto my-5 altin">
  <div class="kart mx-5 my-5 col">
    <h3 class="my-5">Altın 1</h3>
    <ul class="mb-5">
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> 6 Aylık Üyelik</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Günlük su</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Günlük protein</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Öğrenci indirimi</p>
      </li>
    </ul>
    <hr class="tl">
    <h2 class="mb-3">-₺</h2>
  </div>
  <div class="kart mx-5 my-5 col">
    <h3 class="my-5">Altın 2</h3>
    <ul class="mb-5">
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> 1 Yıllık Üyelik</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Günlük su</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Günlük protein</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Öğrenci indirimi</p>
      </li>
    </ul>
    <hr class="tl">
    <h2 class="mb-3">-₺</h2>
  </div>
  <div class="kart mx-5 my-5 col">
    <h3 class="my-5">Altın 3</h3>
    <ul class="mb-5">
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> 2 Yıllık Üyelik</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Günlük su</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Günlük protein</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Öğrenci indirimi</p>
      </li>
    </ul>
    <hr class="tl">
    <h2 class="mb-3">-₺</h2>
  </div>
</div>
<hr>
<div class="row mx-auto my-5 elmas">
  <div class="kart mx-5 my-5 col">
    <h3 class="my-5">Elmas 1</h3>
    <ul class="mb-5">
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> 6 Aylık Üyelik</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Sınırsız su</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Sınırsız protein</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Özel hoca</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-xmark x"></i> Öğrenci indirimi</p>
      </li>
    </ul>
    <hr class="tl">
    <h2 class="mb-3">-₺</h2>
  </div>
  <div class="kart mx-5 my-5 col">
    <h3 class="my-5">Elmas 2</h3>
    <ul class="mb-5">
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> 1 Yıllık üyelik</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Sınırsız su</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Sınırsız protein</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Özel hoca</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-xmark x"></i> Öğrenci indirimi</p>
      </li>
    </ul>
    <hr class="tl">
    <h2 class="mb-3">-₺</h2>
  </div>
  <div class="kart mx-5 my-5 col">
    <h3 class="my-5">Elmas 3</h3>
    <ul class="mb-5">
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> 2 Yıllık Üyelik</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Sınırsız su</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Sınırsız protein</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-check ok"></i> Özel hoca</p>
      </li>
      <li>
        <p><i class="fa-regular fa-circle-xmark x"></i> Öğrenci indirimi</p>
      </li>
    </ul>
    <hr class="tl">
    <h2 class="mb-3">-₺</h2>
  </div>
</div>
</div>
</div>
  
