<div class="container-fluid position-relative p-3 p-md-5 text-center"
  style="background-image: url('https://wallpaperaccess.com/full/5469421.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <!-- <div class="position-relative p-3 p-md-5 text-center bg-dark"> -->
  <div class="container mt-5">
    <h1 class="display-1">WELCOME TO THE <a style="color: red;">GYM</a></h1>
    <p style="max-width: 850px;" class="lead mx-auto my-4">Birey, ruhuna zarar veren ve kimseye anlatmak istemediği bir derdi
      olduğunda içine kapanır. Bu içe kapanıklık zamanla yalnızlaşmaya yol açar. Yalnızlaşan birey daha az hareketli bir
      hayat geçirmeye başlar ve bu hareketszlik vücudun görünümünü etkiler. Zaman geçtikçe birey özgüven duygusunu da
      kaybeder kendini hayattan izole eder. Yalnız yaşamakta sıkıntı yok ama erken ölmek istemiyorsan sağlığını korumak
      zorundasın. Fitness yaparak sağlığını korur, özgüvenini arttırır, vücudunu geliştirir ve zihnini boşaltırsın.
      Şimdi üzülmeyi bırak ve şu ağırlıkları kaldır.
    </p>
  </div>
  <div class="container-fluid d-flex mt-5">
    <img class="img-fluid my-auto"
      style="display:block; position:relative; z-index: 1; max-width: 70%; height: fit-content; filter: contrast(200%)  grayscale(100%) brightness(60%);"
      src="assets/img/home-img.png" alt="home-img">
    <p class="display-3 my-auto mx-auto d-xxl-none" style="font-weight:bolder ;">ÇA<br>LIŞ<br>MA<br>YA<br>BAŞ<br>LA</p>
    <p class="display-1 my-auto d-none d-xxl-block" style="font-weight:bolder;">ÇALIŞMAYA<br>BAŞLA</p>
  </div>
  <footer class="text-center text-white" style="background-color: #00000044;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Images -->
      <section class="">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
              <img
                src="https://thumbs.dreamstime.com/b/empty-gym-fitness-bodybuilding-equipment-dumbbells-135920870.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
              <img
                src="https://thumbs.dreamstime.com/b/empty-gym-fitness-bodybuilding-equipment-dumbbells-135916869.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
              <img
                src="https://thumbs.dreamstime.com/b/empty-gym-fitness-bodybuilding-fitness-equipment-dumbbells-empty-gym-fitness-bodybuilding-135922636.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
              <img
                src="https://thumbs.dreamstime.com/b/equipment-fitness-equipment-empty-modern-gym-fitness-center-equipment-fitness-equipment-empty-modern-119297786.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
              <img
                src="https://thumbs.dreamstime.com/b/equipment-fitness-equipment-empty-modern-gym-fitness-center-equipment-fitness-equipment-empty-modern-118119263.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
              <img
                src="https://thumbs.dreamstime.com/b/equipment-fitness-equipment-empty-modern-gym-fitness-center-equipment-fitness-equipment-empty-modern-116601359.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->
    </div>
    <!-- Grid container -->
  </footer>
</div>